
/* 
 note: i learned about css reset after i finished styling, so h2 and h3 and etc came before i didnt know 
 nothing about css  
*/

body{
    background-color:#E6EFF5;;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    margin-top: 100px;
}

/* the start */
.container{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 220px 250px;
    /*grid-template-rows: repeat(2, 250px);*/
    grid-template-areas: "box-1 box-1" "box-2 box-3";
    justify-content: center;
}

/* 3 grid in one box */
.box{
    background-color: #FFFFFF;;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011); 
}
 /* box one styling */
.one{
    width: auto;
    grid-area: box-1;
    padding: 24px;
    border-radius: 8px;
}
h1{
    font-size: 24px;
    font-weight: 700;
    padding: 18px 0 24px 0;
    color: #2AB3B1;
}
h3{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
    color:  #C0DF33;
}
/* paraone is the class name of the paragraph in the box-one */
.paraone{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:  #9AA7BE;
}


 /* start of box 2 styling */
.two{
    background-color: #2AB3B1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom-left-radius: 8px;
}

/* header of the box-2 */
h2{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 32px 0 18px 24px;
}
strong{
color: #FFFFFF;
font-size: 32px;
font-weight: 700;
padding-left: 24px;
}
span{
    color:hsla(179, 47%, 72%, 1);
    font-size: 16px;
    font-weight: 400;
    
}
/* para-two is the second box paragraph */
.para-two{
    color: #FFFFFF;
    padding: 16px 0 0 24px;
    padding-bottom: 16px;
}
.header-2{
    padding-bottom: 18px;
}

button{
    background-color: hsla(71, 73%, 54%, 1);
    cursor: pointer;
    color: #FFFFFF;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    width: 237px;
    height: 48px;
    border: hidden;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
}



/* box three styling */
.three{
    background-color:  #4ABFBC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: hsla(178, 48%, 88%, 1);
    border-bottom-right-radius: 8px;
}
.box-3-header{
    font-size: 18px;
    font-weight: 700;
    padding-left: 32px;
}
/* box three paragraph */
.para-three{
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 32px;
}



@media screen and (max-width:375px) {

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
        "box-1" 
        "box-2"
        "box-3";
        justify-content: center;
    }
    button{
        width: 263px;
        height: 48px;
    }


}